/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

 /*------------- Body and header text---------------- */
.book.font-family-1 {
  font-family: sans-serif;
 }
 
 p{
   color: #c7bcaf;
 }
 
 .book .book-body .page-wrapper .page-inner section.normal {
   color: #c7bcaf;
 }
 
 
 /* background color for main section */
 .book .book-body .page-wrapper .page-inner section{
   background-color:#222222;
   color: #c7bcaf;
 }
 
 .book .book-body{
  background-color:#222222;
  color: #c7bcaf;
 }
 
 .book .book-summary{
   background-color: #222222;
   color: #c7bcaf;
   border-right: 1px solid #c7bcaf;
 }
 
.book .book-summary ul.summary li a{ /* TOC links */
   color: #c7bcaf;
 }
 
 .summary a:hover { /* hover TOC links */
  color: #9b870c !important;
} 


.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #9b870c !important;
  border-left: solid 4px #8b0000;
  padding-left: 11px !important;
  font-weight: bold;
}  

.book-header {
  background-color: #222222 !important;
}

img {
max-width: 100%;
max-height: 90vh;
}


h1 {
  font-size: 3em;
  font-weight: bolder;
  color: #9b870c;
}

h2 {
  font-size: 2.2em;
  color: #9b870c;
}

h3 {
  font-size: 1.5em;
  color: #c7bcaf;
}

.book .book-body .page-wrapper .page-inner section.normal hr{
  height: 1px;
  background-color: #c7bcaf;
}

.title {
  font-size: 8em;
}

.backstory {
  overflow: auto;
  width: 100%;
  max-height: 400px;
  border:1px solid #dddddd;
  padding:5px;
}

/* TABLE FORMATTING - ODD ROWS */
.book .book-body .page-wrapper .page-inner section.normal table tr {
  color: #c7bcaf;
  background-color: #222222;
}

/* TABLE FORMATTING - EVEN ROWS */
.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
  color: #c7bcaf;
  background-color: #3d3d3d;
}

.book .book-summary ul.summary li span {
    color: #ffffff;
}

/* remove borders on the tables */
.book .book-body .page-wrapper .page-inner section.normal table tr {
  border: none;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
  border: none;
}

/* keep some borders */
.book .book-body .page-wrapper .page-inner section.normal table tr:last-child td {
    border-bottom: 1px solid #c7bcaf;
}
.book .book-body .page-wrapper .page-inner section.normal table thead tr {
    border-bottom: 1px solid #c7bcaf;
}

h1.title{
  color: #c7bcaf;
}

h2.subtitle{
  color: #c7bcaf;
}

#header{
  background-color: #8b0000;
  padding: 0 10px;
  border-radius: 20px;
  border: 5px solid #290000;
  /* this path is relative to the css files in the docs folder */
  /*background-image: url("../media/verdan_dark.png");*/
  background-image: url("../media/vernon_med.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

a {
  color: #fdfd96;
}

a:hover {
  color: #fdfd96;
  text-decoration: underline;
}


.subspell{
  font-size: 0.8em;
  padding-left: 30px;
}

.journaldate{
  font-style: italic;
  font-size: .8em;
  
}

blockquote{
  font-size:1em;
}

/* vernon and xaphan 'interview' styles */
.xaphan{
  color: #f00;
}
.vernon{
  color: #fff;
}
